/* the font color seen throughout the quiz */
:root {
    --pink-font: rgb(249, 0, 145);
}

/* colors when text is highlighted with cursor */
::selection {
    background-color: var(--pink-font);
    color: black;
}

* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    color: var(--pink-font);
}

header {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

button {
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--pink-font);
    border-radius: 10px;
    border-style: none;
    height: 50px;
    width: 200px;
    margin: 50px;
    font-size: 1rem;
    /* for button hover color change */
    transition: all 0.2s;
}

/* changes button color while hovering cursor over them */
button:hover {
    background-color: #4095c6;
}

ul,
li {
    list-style: none;
    padding: 10px;
}

input {
    width: 50px;
}

#container {
    text-align: center;
    margin-top: 100px;
}

#start-button {
    display: inline-block;
    height: 100px;
    width: 400px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: var(--pink-font);
    font-size: large;
    text-align: center;
    align-items: center;
    border-style: none;
    transition: all 0.2s;
}

#start-button:hover {
    background-color: #4095c6;
}

#rules-page {
    font-size: 1.30rem;
    margin: 50px;
    border: var(--pink-font) 10px ridge;
}

/* quiz does not appear until start button is pressed */
#quiz {
    display: none;
    border: var(--pink-font) 10px ridge;
    margin: 40px;
}

#question {
    font-size: 1.25rem;
    padding: 20px;
}

#correct-incorrect {
    font-size: 1.5rem;
    padding: 30px;
}

#timer {
    font-size: 1.25rem;
}

/* results page is shown once quiz is finished */
#results-page {
    display: none;
    border: var(--pink-font) 10px ridge;
    margin: 50px;
    font-size: 1.30rem;
}